@import "tailwindcss";

.underlined {
    text-decoration: none;
    position: relative;
    color: inherit;
    transition: all 0.2s ease;
    cursor: pointer;
}
.underlined::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: -2px;
    width: calc(100% + 4px);
    height: 4px;
    background: #374151;
    border-radius: 50% 20% 80% 30%;
    transition: all 0.2s ease;
}
.underlined:hover::after {
    height: 24px;
    z-index: -1;
    background: rgba(92,157,203,0.4);
    border-radius: 20%;
}

.underlined-sm::after {
    height: 3px;
}

.underlined-sm:hover::after {
    height: 1rem;
}
